body {

    background-color: #0d1010;
    color: #fdfefd;
    width: 100vw;
    max-width: 100%;

    h1 {

        font-family: gimlet-text,serif;
        font-weight: 400;
        font-style: normal;
        font-size: 36px;
    }

    .header-admin {

        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 40px;

        .deconnexion:link {

            background-color: #fdfefd;
            font-size: 22px;
            padding: 15px 28px;
        }

        img {
   
            width: 76px;
            height: 76px;
        }
    }

    label {

        font-family: gimlet-text,serif;
        font-weight: 400;
        font-style: normal;
    }

    a:link {

        text-decoration: none;
        color: #0d1010;
        font-family: gimlet-text,serif;
        font-weight: 400;
        font-style: normal;
    }

    a:visited {

        text-decoration: none;
        color: #0d1010;
        font-family: gimlet-text,serif;
        font-weight: 400;
        font-style: normal;
    }

    .container-connexion {

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 900px;
        margin-top: 175px;
        margin-left: 500px;
        align-items: center;

        label {

            font-size: 16px;
            margin-top: 20px;
        }

        img {

            width: 205px;
            height: 136px;
        }

        .courriel {

            display: flex;
            flex-direction: column;

            input {

                width: 407px;
                height: 30px;
                background-color: #fdfefd;
                font-family: gimlet-text,serif;
                font-weight: 400;
                font-style: normal;
                font-size: 16px;
            }
        }

        .mot_de_passe {

            display: flex;
            flex-direction: column;

            input {

                width: 407px;
                height: 30px;
                background-color: #fdfefd;
                font-family: gimlet-text,serif;
                font-weight: 400;
                font-style: normal;
                font-size: 16px;
            }
        }

        .btn {

            margin-top: 20px;
            width: 150px;
            height: 30px;
            font-family: gimlet-text,serif;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
        }
    }

    .msg-operation {

        margin-left: 875px;
    }

    .options-admin {

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 79px;
        margin-top: 60px;

        .options-admin-select {

            display: flex;
            flex-direction: column;
            gap: 34px;

            a:link {

                font-size: 22px;
                padding: 15px 91px;
                background-color: #fdfefd;
            }
        }
    }

    .options-admin2 {

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 79px;
        margin-top: 140px;

        .options-admin-select {

            display: flex;
            flex-direction: column;
            gap: 34px;

            a:link {

                font-size: 22px;
                padding: 15px 91px;
                background-color: #fdfefd;
            }
        }
    }

    .form-ajout-plat-container {

        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;

        h2 {

            margin-bottom: 40px;
            font-size: 36px;
        }

        form {

            .label-plus-input {

                display: flex;
                flex-direction: column;

                input {

                    width: 466px;
                    height: 30px;
                    margin-bottom: 20px;
                }

                select {

                    width: 474px;
                    height: 35px;
                    margin-bottom: 20px;
                }
            }

            .btn {

                width: 239px;
                height: 74px;
                font-size: 36px;
                font-family: gimlet-text,serif;
                font-weight: 400;
                font-style: normal;
                margin-left: 990px;
                margin-top: 40px;
            }

            .infrormations-entree-par-utilisateur {

                display: flex;
                gap: 40px;

                .textarea {

                    width: 709px;
                    height: 360px;
                }
            }
        }
    }

    .container-gestion-menu {

        margin-left: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .container-plat {

            display: flex;
            flex-direction: column;
            width: 603px;

            .nom-et-prix-container {

                display: flex;
                justify-content: space-between;

                p {

                    margin-bottom: 0px;
                    font-size: 28px;
                    font-family: gimlet-display-compressed, serif;
                    font-weight: 400;
                    font-style: normal;
                }
            }

            .description-plat {

                p {

                    margin-top: 8px;
                    font-size: 16px;
                }
            }

            .options {

                margin-bottom: 20px;
                text-align: end;

                .supprimer {

                    background-color: #6f1a07;
                    color: #fdfefd;
                    padding: 10px 15px;
                    border: 2px solid #a8763e;

                }

                .modifier {

                    background-color: #a8763e;
                    color: #fdfefd;
                    padding: 10px 15px;
                    border: 2px solid #6f1a07;
                }
            }
        }
    }

    .form-ajout-plat {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 200px;

        form {

            div {

                display: flex;
                flex-direction: column;

                input {

                    width: 466px;
                    height: 30px;
                    margin-bottom: 20px;
                }

                input[type="file"] {

                    font-size: 17px;
                    color: #b8b8b8;
                }
            }

            input[type="submit"] {

                width: 239px;
                height: 40px;
                margin-left: 235px;
            }
        }
    }

    .gestion-categories-container {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 200px;

        .nom-et-options {

            display: flex;
            align-items: center;
            gap: 20px;
            flex-direction: column;

            p {

                margin-top: 40px;
                margin-bottom: 5px;
                font-size: 22px;
            }

            .supprimer {

                background-color: #6f1a07;
                color: #fdfefd;
                padding: 10px 15px;
                border: 2px solid #a8763e;

            }

            .modifier {

                background-color: #a8763e;
                color: #fdfefd;
                padding: 10px 15px;
                border: 2px solid #6f1a07;
            }
        }
    }

    .ajout-utilisateur-container {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 200px;

        form {

            font-size: 16px;

            .nom {

                display: flex;
                flex-direction: column;
                margin-top: 20px;

                input {

                    width: 400px;
                    height: 40px;
                }
            }

            .courriel {

                display: flex;
                flex-direction: column;
                margin-top: 20px;

                input {

                    width: 400px;
                    height: 40px;
                }
            }

            .mot_de_passe {

                display: flex;
                flex-direction: column;
                margin-top: 20px;

                input {

                    width: 400px;
                    height: 40px;
                }
            }

            input[type="submit"] {

                width: 200px;
                height: 40px;
                font-size: 16px;
                margin-top: 40px;
                margin-left: 208px;
            }
        }
    }

    .gestion-utilisateurs-container {

        display: flex;
        flex-direction: column;
        font-size: 22px;
        align-items: center;
        margin-top: 100px;

        .nom {

            text-align: center;
        }

        .supprimer {

            background-color: #6f1a07;
            color: #fdfefd;
            padding: 10px 15px;
            border: 2px solid #a8763e;
            font-size: 16px;
        }

        .modifier {

            background-color: #a8763e;
            color: #fdfefd;
            padding: 10px 15px;
            border: 2px solid #6f1a07;
            font-size: 16px;
        }
    }
}